/*
main estilos para que este centrado 
*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 90%;
}

@media (min-width: 640px) {
  main {
    width: 85%;
  }
}

@media (min-width: 768px) {
  main {
    width: 83%;
  }
}

@media (min-width: 1024px) {
  main {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  main {
    width: 75%;
  }
}

@media (min-width: 1536px) {
  main {
    width: 70%;
  }
}
